body {
    font-family: 'Pacifico', cursive;
    font-family: 'Abel', sans-serif;
}

#header {
    padding: 50px 0 30px 0;
    margin-top:40px;
    background-image: url(../img/header.jpg);
    color: aliceblue;
    width: 100%;
	height:600px;
	background-attachment: fixed;
	background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.header-content {
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    opacity: 0.7;
    font-family: 'Lobster Two', cursive;

}
.header-content p {
    font-family: 'Pacifico', cursive;
    font-family: 'Abel', sans-serif;
}
#aboutMe {
    padding: 60px 60px 75px 100px;
}
img.avatar {
    border-radius: 50%;
    margin:10px auto;
	display:block;
}
#aboutMe-content {
    font-size: 18px;
}   
#habilidades-blandas{
    background-color: #f1f1f1;
    padding: 60px 60px 75px 100px;
}
#habilidades-tecnicas{
    padding: 60px 60px 75px 100px;
}
#portfolio{
    background-color: #f1f1f1;
    padding: 60px 60px 75px 100px;
}
#contact {
    padding: 100px 100px 75px 150px;
}
#footer {
    padding: 25px 25px 75px 100px;
    background-color: rgb(34, 33, 33);
}
#copyright {
    color: #f0eaea;
    size: 16px;
}