body {
  font-family: 'Merriweather Sans', sans-serif;
  color: #3B3939; }

p {
  font-family: 'Merriweather Sans', sans-serif;
  color: #000000; }

#btnStart, #btnCV, .botones {
  color: #000000;
  background-color: #EFEF21;
  font-family: 'Merriweather', sans-serif; }

#aboutMe {
  padding-top: 70px;
  background-color: #f1f1f1;
  line-height: 30px;
  height: 100vh; }

#titleAboutMe {
  font-family: 'Merriweather', serif; }

#aboutMe-content {
  font-size: 18px; }

#habilidades-blandas, #habilidades-tecnicas {
  padding-top: 60px; }

.titleBlandas {
  font-family: 'Merriweather', serif; }

#titleSkills {
  font-family: 'Merriweather', serif; }

#titleTecnico, .titlePortfolio {
  font-family: 'Merriweather', serif; }

.contentTecnico {
  font-family: 'Merriweather Sans', sans-serif; }

#titleProject {
  font-family: 'Merriweather', serif; }

.botones {
  color: #000000;
  background-color: #EFEF21; }

#portfolio {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #f1f1f1; }

#titleContact {
  font-family: 'Merriweather', serif;
  color: #000000; }
